.container{
    font-family:  'made-tommy-regular';
    font-style: normal;
    max-width: 1100px;
    margin: auto;
}
.page_404{
    padding-top: 88px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_title{
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #292568;
}
.left_text{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #0C0C0C;
    padding: 50px 0;
}
.left_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 207px;
    height: 69px;
    background: linear-gradient(90deg, #9D7BD3 0%, #3B6BF4 100%);
    border-radius: 100px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    cursor: pointer;
}
.left_btn a, .left_btn a:focus{
    color: white;
}
@media only screen and (max-width: 1340px) {

}
@media only screen and (max-width: 1200px){
    .container{
        max-width: 960px;
    }
}

@media only screen and (max-width: 960px){
    .container{
        max-width: 720px;
    }
    .page_404{
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .right img{
        width: 100%;
    }
    .left{
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 576px){
    .container{
        max-width: 540px;
    }

}